$primary-text-color: #111;
$outline-primary-color: rgb(98, 160, 226);

*:focus {
    outline: 1px solid $outline-primary-color;
}

body {
    padding: 10px;
    color: $primary-text-color;
}

input:not([type="submit"]) {
    padding-left: 8px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 8px;
}

textarea {
    resize: none;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 8px;
    padding: 4px 10px;
}

.nav {
    // background-color: rgb(0, 105, 217);
    border-top: 1px solid $outline-primary-color;
    border-bottom: 1px solid $outline-primary-color;
    border: 1px solid $outline-primary-color;
    border-radius: 30px;
}

.nav-link {
    color: rgb(0, 105, 217);
    font-weight: 600;
}

.nav-link:hover {
    background-color: rgb(98, 160, 226);
    color: #eee;
}

.first-nav-link:hover {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.body-title {
    margin-bottom: 1em;
}

.index-listing-link {
    color: #333;
    text-decoration: none !important;

    :hover {
        color: $primary-text-color;
    }
}

.single-listing {
    border: 1px solid lightgrey;
    border-radius: 15px;
}

.img-fluid {
    max-height: 30vh;
    width: auto;
}


.errorlist {
    padding-left: -15px;

    li {
        color: red;
        font-size: 0.9rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

#comment-form {
    textarea {
        width: 98%;
        height: 85%;
        padding: 5px 6px 1px 6px;
    }

    textarea:hover {
        border: 1px solid rgb(98, 160, 226);
    }
    
    input[type="submit"] {
        padding: 4px 12px;
    }
}

.single-comment{
    border-top: 1px solid lightgrey;
    padding: 5px 10px;
    margin-left: 15px;

    h6{
        font-weight: 600;
    }
}

.important-msg {
    color: red;
}

.logged-user-msg {
    color: #333;
}

.list-element {
    padding: 6px 18px;
    font-weight: 600;
}