{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if query_str is None %}
        Encyclopedia
    
    {% else %}
        Encyclopedia - Search Results
    
    {% endif %}
{% endblock %}

{% block body %}
    
        {% if query_str is None %}

        <h1>All Pages</h1>
        
        {% else %}
        
        <h2>Search results for '{{query_str}}'</h2>
        
        {% endif %}
    
    
    <ul>
        {% for entry in entries %}
            <li>
            <a href="{% url 'wiki:entry_page' entry %}">{{ entry }}</a>
            </li>
            {% empty %}
            <li>No content...</li>
        {% endfor %}
    </ul>

{% endblock %}