{% extends 'auctions/layout.html' %}

{% block title %}
My Activity
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6" a>
            <h4 class="body-title">Items listed by you</h4>
            <ul class="list-unstyled">
                {% for listing, curr_price in owned_listings.items %}
                    <a class="index-listing-link" href="{% url 'listing' listing.id %}"> 
                        <li>
                            <article class="mb-2 single-listing">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-4">
                                        <img class="img-fluid" src={{ listing.image_url|default:'static/imgs/no_image_available.jpg' }}>
                                    </div>
                                    <div class="col-7">
                                        <div class="row align-items-top">
                                            <div class="col mb-2">
                                                <strong>{{ listing.title }}</strong>
                                            </div>
                                        </div>
                                        <div class="row align-items-top">
                                            <div class="col">
                                                <p>Price: ${{ curr_price }}</p>
                                                <small class="float-right">Created on: {{ listing.created }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                    </a>
                {% empty %}
                    <li class="mt-4">
                            <h6>You haven't listed any items so far.</h6>
                            You can create your first listing <a href="{% url 'new_listing' %}">here.</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <h4>Items you bidded on</h4>
            <ul class="list-unstyled">
                {% for listing, curr_price in bidded_listings.items %}
                    <a class="index-listing-link" href="{% url 'listing' listing.id %}">
                        <li>
                            <article class="single-listing mb-1">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-4">
                                        <img class="img-fluid" src={{ listing.image_url|default:'static/imgs/no_image_available.jpg' }}>
                                    </div>
                                    <div class="col-7">
                                        <div class="row align-items-top">
                                            <div class="col mb-3">
                                                <strong>{{ listing.title }}</strong>
                                            </div>
                                        </div>
                                        <div class="row align-items-top">
                                            <div class="col">
                                                <p>Price: ${{ curr_price }}</p>
                                                <small class="float-right">Created on: {{ listing.created }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                    </a>
                {% empty %}
                    <li class="mt-4">
                        <h6>You haven't made any bidds so far.</h6>
                        You can place bids on any of currently available listings found <a href="{% url 'index'%}">here.</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}