{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %}
        <li>
            <div>
            <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
            <br>{{ listing.description }}
            <br>{{ listing.highest_bid.amount }}</p>
            <br><img src='{{ listing.image_url }}'>
            </div>
        </li>
        {% empty %}
        <li>No active listings at the moment.</li>
        {% endfor %}
    </ul>
{% endblock %}