{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        {% for listing in listings %}
            <div>
                <p>
                    <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                </p>
                <p>{{ listing.description }}</p>
                <p>{{ listing.highest_bid.amount }}</p>
                <p><img src='{{ listing.image_url }}' witdh="150" height="150"></p>
            </div>
            <hr>
        {% empty %}
        <p>No active listings at the moment.</p>>
        {% endfor %}
    </ul>
{% endblock %}