{% extends 'auctions/layout.html' %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}
    
    <div class="row">
        <!-- LISTING INFO DISPLAY -->
        <div class="col-6">
            <h3>{{ listing.title }}</h3>
            <article>
                {% with img_url=listing.image_url|default:'/static/imgs/no_image_available.jpg' %}
                    <p><img src='{{ img_url }}' witdh="250" height="250"></p>
                {% endwith %}
                <p>{{ listing.description }}</p>
                <h5>Current price:     
                    {% if not highest_bidder %} 
                        ${{ min_bid }}
                    {% else %}
                        ${{ min_bid|add:'-1' }} 
                    {% endif %}
                    {% if user == listing.owner %}
                        <small style="color: red;">(Starting price: ${{ listing.starting_price }})</small>
                    {% endif %}
                </h5>
                
                <small>Created on: {{ listing.created }}</small>
            </article>
            {% if user.is_authenticated and user != listing.owner and listing.is_active %} 
                {% if on_watchlist %}
                    <a href="{% url 'remove_from_watchlist' listing.id %}">
                        <button class="btn  btn-secondary" type="button">Remove from Watchlist</button>
                    </a>
                {% else %}
                    <a href="{% url 'add_to_watchlist' listing.id %}">
                        <button class="btn btn-primary" type="button">Add to Watchlist</button>
                    </a>
                {% endif %}
            {% endif %}
        </div> <!-- END LISTING DISPLAY -->

        <!-- BIDDING FORM  -->
        <div class="col-6">
            {% if not listing.is_active %}
                <p>
                    This auction is closed. You cannot place bids for this item anymore.
                    {% if highest_bidder == user %}
                        <br><strong>Congratulations! You have won this auction!</strong>
                    {% endif %}
                </p>
            {% else %}
                {% if not user.is_authenticated %}
                    <p>
                        <br>
                        <a href="{% url 'login' %}">Log In</a> to place a bid for this item.
                        <br>
                        Don't have an account? <a href="{% url 'register' %}">Register now.</a>
                    </p>
                {% elif user != listing.owner %}
                    <h5>Make a bid:</h5>
                    <form action="{% url 'new_bid' listing.id %}" method="POST">
                        {% csrf_token %}
                        {{ bidding_form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Place Bid">
                    </form>
                {% else %}
                    <a href="{% url 'close_auction' listing.id %}">
                        <button class="btn btn-primary" type="button">Close this auction</button>
                    </a>     
                {% endif %}
            {% endif %}
        </div>
    </div> <!-- END BIDDING FORM -->
    <hr>
    <!-- COMMENT SECTION -->
    <div class="row justify-content-center">
        <div class="col-11">
            <h5>Comments</h5>
            <div class="row">
                {% if not user.is_authenticated %}
                    <div class="col">
                        <p class="small">
                            <a href="{% url 'login' %}">Log In</a> to post a comment.
                            Don't have an account? <a href="{% url 'register' %}">Register now.</a>
                        </p>
                    </div>
                {% else %}
                <div class="col-12">
                    <form id="comment-form" method="POST" action="{% url 'post_comment' listing.id %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-8">
                                {{ comment_form }}
                            </div>
                            <div class="col-3">
                                <input class="btn btn-primary" type="submit" value="Comment">
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
            {% for comment in comments %}
                <div class="row mt-1">
                    <article class="col-9 single-comment">
                        <h6>{{ comment.owner }}</h6> 
                        <p>{{ comment.content }}</p>
                    </article>    
                </div>
            {% endfor %}
        </div>
    </div> <!-- END COMMENT SECTION -->
{% endblock %}