{% extends 'auctions/layout.html' %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
<h4 class="body-title">Listings on your watchlist</h4>
<ul class="list-unstyled">
    {% for l in listings %}
        <a class="index-listing-link" href="{% url 'listing' l.id %}">
            <li class="list-element">
                {{ l }}
            </li>
        </a>
        <hr>
    {% empty %}
        <li class="list-element">There are currently no listings on your watchlist</li>
    {% endfor %}
</ul>
{% endblock %}