@import "shared.css";

.container-fluid {
    padding: 0;
}

.logo {
    max-width: 80px;
}

.links-row {
    margin: 0;
    padding: 9px 9px;
    background-color: rgb(243, 243, 243);
}

.links-row .col-auto{
    padding: 0 2vh;
    margin-bottom: 0;
}